* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 80% 20%;
}

.wrapper {
  background-color: #35455d;
  padding: 20px;
}

.ciclo_inicial,
.ciclo_superior {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.titulo_ciclo {
  text-align: center;
  color: #bdc3c7;
  font-weight: 200;
  font-size: 28px;
  padding: 15px;
}

.titulo_cuatri {
  padding: 8px;
}

.titulo_cuatri {
  color: #bdc3c7;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border: 1px dashed #bdc3c7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 2px;
  color: white;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s ease-in;
}

li:hover {
  cursor: pointer;
}

/*################################
Header
################################*/

.carrera_header {
  padding-left: 15px;
  font-size: 3em;
  background-color: #35455d;
  color: #bdc3c7;
}

/*################################
Info , Ref, Select
################################*/
/* Info */
.info {
  background-color: #35455d;
  font-weight: bold;
  color: #bdc3c7;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.info p {
  font-weight: 200;
  letter-spacing: 0.5px;
}

/* Referencias */

.referencias {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 41px 0px rgba(0, 0, 0, 0.75);
}
.ref_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.ref_circulo {
  height: 50px;
  width: 50px;

  border-radius: 50%;
}
#ref_puede_cursar {
  background-color: #d1d8e0;
}
#ref_regular {
  background-color: rgba(0, 128, 0, 0.2);
}
#ref_aprobada {
  background-color: #3498db;
}

.ref_texto {
  font-weight: bold;
  font-size: 20px;
}

/* Select */
.div_select {
  padding: 10px;
  text-align: center;
}
select {
  border-radius: 5px;
  padding: 3px;
}

/*################################
Estados Materias
################################*/

.regularizada {
  background-color: rgba(0, 128, 0, 0.2);
  border-style: solid;
}

.aprobada {
  background-color: #3498db;
  border-style: solid;
}

.puede_cursar {
  background-color: #d1d8e0;
  border-style: solid;
}

/*################################
 Media queries
################################*/

@media (max-width: 575.98px) {
  main {
    display: grid;
    grid-template-columns: 100%;
  }
  li {
    height: 60px;
  }
  .info {
    text-align: center;
  }
  .carrera_header {
    text-align: center;
  }
}
