* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 80% 20%;
}

.wrapper {
  background-color: #34495e;
  padding: 20px;
}

.ciclo_inicial,
.ciclo_superior {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.titulo_ciclo {
  text-align: center;
  color: #bdc3c7;
  font-weight: 200;
  font-size: 28px;
  padding: 15px;
}

.titulo_cuatri {
  padding: 8px;
}

.titulo_cuatri {
  color: #bdc3c7;
  font-weight: 200;
  font-size: 16px;
  text-align: center;
}

li {
  list-style: none;
  border: 1px dashed #bdc3c7;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 2px;
  color: black;
  font-weight: 400;
  border-radius: 20px;
  text-align: center;
}

li:hover {
  cursor: pointer;
}

/*################################
Info y Select
################################*/
/* Info */
.info {
  background-color: #2c3e50;
  color: #bdc3c7;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
.info p {
  font-weight: 200;
  letter-spacing: 0.5px;
}

/* Select */
.div_select {
  padding: 10px;
  text-align: center;
}
select {
  border-radius: 5px;
  padding: 3px;
}

/*################################
Estados Materias
################################*/

.regularizada {
  background-color: rgba(0, 128, 0, 0.2);
  border-style: solid;
}

.aprobada {
  background-color: #3498db;
  border-style: solid;
}

.puede_cursar {
  background-color: #d1d8e0;
  border-style: solid;
}

/*################################
 Media queries
################################*/

@media (max-width: 575.98px) {
  main {
    display: grid;
    grid-template-columns: 100%;
  }
  li {
    height: 60px;
  }
  .info {
    text-align: center;
  }
}
